<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WXSwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D13BCD461E567FF5008930E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13BCD5A1E567FF5008930E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13BCD651E567FF5008930E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
